<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" href="../img/sushiincon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/admin.css">
</head>

<body style="background-color: grey;">
    <nav class="navbar">
        <a href="#" class="logo">SushiDeuS Admin</a>
        <div class="nav-links">
            <ul>    
                <li><a href="admin.html">Admin</a></li>
                <li><a href="tabla_pedidos.html">Pedidos</a></li>
                <li><a href="gestion_usuarios.html">Usuarios</a></li>
                <li><a href="admin_carta_agregar.html">Carta</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>

        <img src="../img/btn hamburger.png" alt="menu hamburgesa" class="menu-hamburgesa">
    </nav>

    <div id="titulocomanda">

    </div>
    <section>
        <div  class="TitAdmin">
            <div class="ajustes">
                <!-- <a href="admin_carta.html   " class="btn">Carta</a> -->
                <!-- {<a href=""class="btn"> Ajuste</a>
                <a href=""class="btn"> Ajuste</a>
                <a href=""class="btn"> Ajuste</a>} -->
            </div class="row">
            <h1 id="titcoman">Comandas</h1> 
            
            <div class="container">
                <div  class="row">
                    <div class="col-md-2">
                        <div class="card mb-3">
                            <img src="../img/cryspipollo(1).jpg" alt="">
                            <div class="card-body">
                                <h1>nombre</h1>
                                <p id="subti">tipo:</p>
                                <p>Entrega o Reparto</p>
                                <p id="subti">comentario:</p>
                                <p>alguna peticion del cliente</p>
                                <div class="btnes_com">
                                <a class="btn">Terminar</a>
                                <a class="btn">Editar</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card mb-3">
                            <img src="../img/cryspipollo(1).jpg" alt="">
                            <div class="card-body">
                                <h1>nombre</h1>
                                <p id="subti">tipo:</p>
                                <p>Entrega o Reparto</p>
                                <p id="subti">comentario:</p>
                                <p>alguna peticion del cliente</p>
                                <div class="btnes_com">
                                    <a class="btn">Terminar</a>
                                    <a class="btn">Editar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card mb-3">
                            <img src="../img/cryspipollo(1).jpg" alt="">
                            <div class="card-body">
                                <h1>nombre</h1>
                                <p id="subti">tipo:</p>
                                <p>Entrega o Reparto</p>
                                <p id="subti">comentario:</p>
                                <p> alguna peticion del cliente</p>
                                <div class="btnes_com">
                                    <a class="btn">Terminar</a>
                                    <a class="btn">Editar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card mb-3">
                            <img src="../img/cryspipollo(1).jpg" alt="">
                            <div class="card-body">
                                <h1>nombre</h1>
                                <p id="subti">tipo:</p>
                                <p>Entrega o Reparto</p>
                                <p id="subti">comentario:</p>
                                <p> alguna peticion del cliente</p>
                                <div class="btnes_com">
                                    <a class="btn">Terminar</a>
                                    <a class="btn">Editar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card mb-3">
                            <img src="../img/cryspipollo(1).jpg" alt="">
                            <div class="card-body">
                                <h1 >nombre</h1>
                                <p id="subti">tipo:</p>
                                <p>Entrega o Reparto</p>
                                <p  id="subti">comentario:</p>
                            <p> alguna peticion del cliente</p>
                            <div class="btnes_com">
                                <a class="btn">Terminar</a>
                                <a class="btn">Editar</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card mb-3">
                            <img src="../img/cryspipollo(1).jpg" alt="">
                            <div class="card-body">
                                <h1>nombre</h1>
                                <p id="subti">tipo:</p>
                                <p>Entrega o Reparto</p>
                                <p id="subti">comentario:</p>
                                  <p>alguna peticion del cliente</p>  
                                  <div class="btnes_com">
                                    <a class="btn">Terminar</a>
                                    <a class="btn">Editar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card mb-3">
                            <img src="../img/cryspipollo(1).jpg" alt="">
                            <div class="card-body">
                                <h1>nombre</h1>
                                <p id="subti">tipo:</p>
                                <p>Entrega o Reparto</p>
                                <p id="subti">comentario:</p>
                                <p>alguna peticion del cliente</p>
                                <div class="btnes_com">
                                <a class="btn">Terminar</a>
                                <a class="btn">Editar</a>
                            </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../js/carta.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>