<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito</title>
    <link rel="icon" href="../img/sushiincon.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/carrito.css" />
  </head>

  <body >
    <nav class="navbar">
        <a href="index.html" class="logo">SushiDeuS</a>
        <div class="nav-links">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="carta.html">Carta</a></li>
                <li><a href="pedidos.html">Mis Pedidos</a></li>
                <li class="active"><a href="#">Carrito</a></li>
                <li><a href="login.html">Login</a></li>
                
            </ul>
        </div>
        <img src="../img/btn hamburger.png" alt="menu hamburgesa" class="menu-hamburgesa">
    </nav>

    <div class="titulo">
      <h1>Carrito de compras</h1>
    </div>
    <div class="contenedor-todo">
      <div class="contenedor-carrito">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Operacion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Sushi burger</td>
                <td>2</td>
                <td>$30000</td>
                <td>Eliminar</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Sushi burger</td>
                <td>2</td>
                <td>$28000</td>
                <td>Eliminar</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="total-compra">
          <h1>Total: $50000</h1>
        </div>
      </div>

      <div class="contenedor-datos">
        <div class="datos-personales">
          <h2 class="nombre-usuario">Sebastian morales</h2>
          <p class="correo">se.moralesdios@sebitaking.com</p>
          <p class="numero-celular">9123456789</p>
        </div>

        <div class="opciones-retiro">
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary m-1"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              Delivery
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="staticBackdrop"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-labelledby="staticBackdropLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">
                      Complete los campos
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form action="#" class="was-validated">
                        <div class="form-group">
                          <label for="direccion">Dirección:</label>
                          <input type="text" id="direccion" name="direccion" required />
                        </div>
                        <div class="form-group">
                          <label for="telefono">Teléfono:</label>
                          <input type="tel" id="telefono" name="telefono" pattern="[0-9]{10}" title="Por favor ingresa un número de teléfono válido de 10 dígitos" required />
                        </div>
                        <div class="form-group">
                          <label for="referencia">Referencia:</label>
                          <textarea id="referencia" name="referencia" ></textarea>
                        </div>
                        <button type="submit">Guardar</button>
                      </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary m-1">retirar</button>
        </div>

        <div class="contenedor-datos-delivery">
          
        </div>
      </div>
    </div>

    <div class="botones">
      <a href="carta.html">Volver</a>
      <a href="Pagar.html">pagar</a>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="../js/index.js"></script>
  </body>
</html>
