{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>gestion usuarios</title>
  <link rel="icon" href="../img/sushiincon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "../static/css/estiloNavvar.css" %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
  <nav class="navbar">
    <a href="admin.html" class="logo">SushiDeuS Admin</a>
    <div class="nav-links">
      <ul>
        <li><a href="{% url "admins" %}">Admin</a></li>
        <li class="Active"><a href="{% url "Usuarios" %}">Usuarios</a></li>
        <li><a href="{% url "AdminCarta" %}">Carta</a></li>
        {% if user.is_authenticated %}
        <li> {{ user.username }}</li>
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
      </ul>
    </div>
    <img src="{% static "../static/img/btn hamburger.png" %}" alt="menu hamburgesa" class="menu-hamburgesa">
  </nav>

  <div class="container mt-5">
    <h2 class="p-5">Gestión de usuarios</h2>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          {% for detalle in detalles_entrega %}
          <tr>
              <td>{{ detalle.usuario.rut }}</td>
              <td>{{ detalle.usuario.usuario.first_name }}</td>
              <td>{{ detalle.usuario.usuario.last_name }}</td>
              <td>{{ detalle.entregas.0.telefono }}</td> <!-- Mostrar el primer telefono asociado -->
              <td>{{ detalle.entregas.0.direccion }}</td> <!-- Mostrar la primera direccion asociada -->
              <td>
                  {% if detalle.usuario.bloqueado %}
                      <a href="{% url 'bloquear_usuario' detalle.usuario.rut %}" class="btn btn-primary me-2">
                          Desbloquear
                      </a>
                  {% else %}
                      <a href="{% url 'bloquear_usuario' detalle.usuario.rut %}" class="btn btn-danger">
                          Bloquear
                      </a>
                  {% endif %}
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
</div>

  <script src="{% static "../static/js/index.js" %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>