<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagar</title>
    <link rel="icon" href="../img/sushiincon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/Pagar.css">
</head>

<body>
    <nav class="navbar">
        <a href="index.html" class="logo">SushiDeuS</a>
        <div class="nav-links">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="carta.html">Carta</a></li>
                <li><a href="carrito.html">Carrito</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>
        <img src="../img/btn hamburger.png" alt="menu hamburgesa" class="menu-hamburgesa">
    </nav>
<div class="Container">
    <div class="title">
        <h1>Pagar</h1>
        <img src="../img/pagado.jpg" alt="">
    </div>
</div>
</body>

</html>