{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <link rel="icon" href="{% static '../static/img/sushiincon.png' %}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "../static/css/pedidos.css" %}">

</head>

<body style="background-color: rgba(255, 255, 255, 0.7); ">
    <nav class="navbar">
        <a href="{% url "index" %}" class="logo">SushiDeuS</a>
        <div class="nav-links">
            <ul>  
                <li><a href="{% url "index" %}">Inicio</a></li>
                <li><a href="{% url "index" %}">Nosotros</a></li>
                <li><a href="{% url "carta"%}">Carta</a></li>
                <li class="active"><a href="{% url "pedidos" %}">Mis Pedidos</a></li>
                <li><a href="{% url 'carrito' %}">Carrito</a></li>
                {% if user.is_authenticated %}
                <li> {{ user.username }}</li>
                {% if user.is_staff %}
                    <li><a href="{% url "admins"%}">Admin</a></li>
                {% endif %}
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
        <img src="{% static "../static/img/btn hamburger.png" %}" alt="menu hamburgesa" class="menu-hamburgesa">
    </nav>
    <div class="Container">
        <h1>Mis Pedidos</h1>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th>Operacion</th>

                    </tr>
                </thead>
                
                <tbody>
                    {% if user.is_authenticated %}
                    {% for p in pedido %}
                        <tr>
                            <td>{{p.Cantidad.producto }}</td>
                            <td>{{ p.Cantidad.cant_producto}}</td>
                            <td>{{p.Cantidad.cant_producto}}</td>
                            <td>{{ p.fecha_pedido }}</td>
                            <td>{{ p.precio_total }}</td>
                            <td>
                            {% if p.estado == 'ENVIADO' %}
                                <div class="Estado_env">{{p.estado}}</div>
                            {% elif p.estado == 'PENDIENTE' %}
                                <div class="Estado_Pend">{{p.estado}}</div>
                            {% elif p.estado == 'PREPARACION' %}
                                <div class="Estado_Entr">{{p.estado}}</div>
                            {% elif p.estado == 'CANCELADO' %}
                                <div class="Estado_Cance">{{p.estado}}</div>
                            {% elif p.estado == 'ENTREGADO' %}
                                <div class="Estado_Entr">{{p.estado}}</div>
                            {% endif %}
                            <td>
                                <a class="btn btn-primary"
                                type="button"
                                class="btn btn-primary m-4 mb-3"
                                data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop1-{{ p.id_pedido }}" >Ver Detalle</a>
                            </td>                        
                        </tr>
                        <div class="modal fade" id="staticBackdrop1-{{ p.id_pedido }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel-{{ p.id_pedido }}" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="staticBackdropLabel">
                                    Detalle
                                  </h5>
                                  <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                  ></button>
                                </div>
                                <div class="modal-body">
                                  <h3>Pedido</h3>
                                  <p>Producto: {{ p.Cantidad }}</p>
                                  <p>fecha: {{p.fecha_pedido}}</p>
                                  <p>Valor Total: {{p.precio_total}}</p>
                                    
                                    <div class="mb-3">
                                    </div>
                                    <div class="modal-footer">
                                  
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Cerrar
                                      </button>
                                    </div>
                                 
                                  
                                </div>
                                
                              </div>
                            </div>
                          </div>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>

        </div>

    </div>
    
    <script src="{% static "../static/js/index.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>