{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <link rel="icon" href="../img/sushiincon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "../static/css/tabla_pedido.css" %}">

</head>

<body style="background-color: rgba(255, 255, 255, 0.7); ">
    <nav class="navbar">
        <a href="admin.html" class="logo">SushiDeuS Admin</a>
        <div class="nav-links">
            <ul>
                <li><a href="{% url "admins" %}">Admin </a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_profile' %}">Perfil de {{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
        <img src="{% static "../static/img/btn hamburger.png" %}" alt="menu hamburgesa" class="menu-hamburgesa">
    </nav>
    <div class="Container">
        <h1>Pedidos</h1>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Contacto</th>
                        <th>Direccion</th>
                        <th>Estado</th>
                        <th><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-boxes" viewBox="0 0 16 16">
                                <path
                                    d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z" />
                            </svg> Operacion Estado </th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in pedido %}
                        
                            <tr>
                                <td>{{p.id_pedido}}</td>
                                <td>{{p.Cantidad.producto}}</td>
                                <td>{{p.Cantidad.cant_producto}}</td>
                                <td>{{p.delivery.telefono}}</td>
                        <td>{{p.delivery.direccion}}</td>
                        <td>
                        {% if p.estado == 'ENVIADO' %}
                            <div class="Estado_env">{{p.estado}}</div>
                        {% elif p.estado == 'PENDIENTE' %}
                            <div class="Estado_Pend">{{p.estado}}</div>
                        {% elif p.estado == 'CANCELADO' %}
                            <div class="Estado_Cance">{{p.estado}}</div>
                        {% elif p.estado == 'ENTREGADO' %}
                            <div class="Estado_Entr">{{p.estado}}</div>
                        {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <form action="{% url 'cambiar_estado' p.id_pedido %}" method='post'>
                                    {% csrf_token %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                        data-bs-toggle="dropdown">Seleccionar Estado</button>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item" type="submit" name="nuevo_estado" value="PENDIENTE">Pendiente</button>
                                    <button class="dropdown-item" type="submit" name="nuevo_estado" value="ENVIADO">Enviado</button>
                                    <button class="dropdown-item" type="submit" name="nuevo_estado" value="ENTREGADO">Entregado</button>
                                    <button class="dropdown-item" type="submit" name="nuevo_estado" value="CANCELADO">Cancelado</button>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

   
    </script>
    <script src="{% static "../static/js/index.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>